body{
	font-size:30px;
	background-color:#fee4ee;
	color:#7c7b7c;
	font-weight: bold;
}

div.header{
	text-align: center;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	font-size:16px;
}