body{
	font-size:20px;
	background-color:#fee4ee;
	color:#787887;
}

div.header{
	text-align: center;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	font-size:16px;
}