div.header {
	text-align: center;
	text-transform: uppercase;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	font-size:25px;
	margin-bottom:-30px;
}

body{
	background-color:#fee4ee;
	color:#787887;
}

a:link, a:visited{
	text-decoration: none;
	color:#787887;
}

div.pages{
	color:#787887;
	text-align: center;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
	font-size: 20px;
	margin-bottom: 15px;
}

.image{
	display: block;
	max-height: 40%;
	max-width:40%;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}