div.header {
	text-align: center;
	text-transform: uppercase;
	font: Arial;
	font-size:30px;
	margin-bottom:10px;
}

body{
	background-color:#f4ebf1;
	color:#7c7b7c;
}

a{
	text-decoration: none;
}

div.pages {
	color:#FEE4EE;
	text-align: center;
	font: Arial;
	font-size: 20px;
	margin-bottom: 15px;
}

.image{
	display: block;
	max-height: 40%;
	max-width:40%;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}