div.header {
	text-align: center;
	text-transform: uppercase;
	font: Arial;
	font-size:16px;
}

body{
	background-color:#f4ebf1;
	color:#7c7b7c;
}

div.pages {
	color:#7c7b7c;
}

.image{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}