title {
	text-align: center;
	text-transform: uppercase;
}

body{
	background-color:#f4ebf1;
	color:#7c7b7c;
	font: Arial;
	font-size:16px;
}

.image{
	display: block;
	width: 150px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}